<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<import resource="../context.xml"/>
	<context:component-scan base-package="se.kth.speech.coin.tangrams.analysis.features._words_as_classifiers" />

	<bean id="smoother"
		class="se.kth.speech.coin.tangrams.analysis.features.words_as_classifiers.WordClassDiscountingSmoother">
		<constructor-arg value="4" />
		<constructor-arg value="__UNKNOWN__" />
	</bean>

	<bean id="ref-conf-map-factory"
		class="se.kth.speech.coin.tangrams.analysis.features.words_as_classifiers.ReferentConfidenceMapFactory"
		scope="prototype"></bean>
		
	<bean id="dialogue-tester"
		class="se.kth.speech.coin.tangrams.analysis.features.words_as_classifiers.SingleGameContextReferentEventDialogueTester"
		scope="prototype">
		<description>This bean defines logic for testing the classification of individual dialogues, i.e. individual sequences of utterances which are related to a single game event.</description>
	</bean>

	<bean id="session-tester"
		class="se.kth.speech.coin.tangrams.analysis.features.words_as_classifiers.SessionTester"
		scope="prototype"></bean>

</beans>