<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<import resource="../context.xml"/>
	<context:component-scan base-package="se.kth.speech.coin.tangrams.analysis.features._words_as_classifiers" />

	<bean id="random-generator" class="java.util.Random">
		<description>The random number generator used in the application; Provide an explicit seed below in order to make the results reproducible from one run to the next.</description>
		<!-- <constructor-arg value="1" /> -->
	</bean>

	<bean id="negative-example-entity-id-factory"
		class="se.kth.speech.coin.tangrams.analysis.features.words_as_classifiers.RandomNotSelectedEntityIdFactory">
		<constructor-arg ref="random-generator" />
	</bean>

	<bean id="smoother"
		class="se.kth.speech.coin.tangrams.analysis.features.words_as_classifiers.WordClassDiscountingSmoother">
		<constructor-arg value="4" />
		<constructor-arg value="__UNKNOWN__" />
	</bean>

	<bean id="ref-conf-map-factory"
		class="se.kth.speech.coin.tangrams.analysis.features.words_as_classifiers.ReferentConfidenceMapFactory"
		scope="prototype"></bean>
		
	<bean id="diag-utt-seq-extractor" class="se.kth.speech.coin.tangrams.analysis.features.words_as_classifiers.utts.InstructorUtteranceExtractor">
		<description>This bean defines logic for extracting the individual utterance(s) in a given dialogue to use for referent classification for that dialogue.</description>
	</bean>

	<bean id="utt-seq-classifier"
		class="se.kth.speech.coin.tangrams.analysis.features.words_as_classifiers.utts.BagOfUtterancesReferentClassifier"
		scope="prototype">
		<description>This bean defines logic for generating values representing the confidence of classifying a given referenceable entity as being referred to by a given sequence of utterances.</description>
	</bean>
	
	<bean id="dialogue-tester"
		class="se.kth.speech.coin.tangrams.analysis.features.words_as_classifiers.SingleGameContextReferentEventDialogueTester"
		scope="prototype">
		<description>This bean defines logic for testing the classification of individual dialogues, i.e. individual sequences of utterances which are related to a single game event.</description>
	</bean>

	<bean id="session-tester"
		class="se.kth.speech.coin.tangrams.analysis.features.words_as_classifiers.SessionTester"
		scope="prototype"></bean>

</beans>