<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan base-package="se.kth.speech.coin.tangrams.analysis" />

	<bean id="event-dialogue-factory"
		class="se.kth.speech.coin.tangrams.analysis.EventDialogueFactory">
		<description>This bean is used to create a sequence of individual
			event dialogues from a sequence of individual utterances combined
			with the history of the game session in which these utterances were
			made.</description>
		<constructor-arg>
			<bean class="se.kth.speech.coin.tangrams.iristk.EventTypeMatcher">
				<constructor-arg
					type="se.kth.speech.coin.tangrams.iristk.GameManagementEvent"
					value="NEXT_TURN_REQUEST" />
			</bean>
		</constructor-arg>
	</bean>

</beans>