<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<import resource="classpath*:/se/kth/speech/coin/tangrams/analysis//context.xml"/>
	<context:component-scan base-package="se.kth.speech.coin.tangrams.analysis.features" />

	<bean id="entity-inst-feature-extractor"
		class="se.kth.speech.coin.tangrams.analysis.features.weka.InstanceFeatureExtractor">
		<description>The bean responsible for extracting features representing given entities (which are potential referents) and then configuring &quot;weka.core.Instance&quot; instances to represent the values of these features.</description>
		<constructor-arg
			value="#{ T(se.kth.speech.coin.tangrams.analysis.features.EntityFeature.Extractor).createFeatureAttrMap(T(se.kth.speech.coin.tangrams.content.IconImages).createImageResourceMap().keySet()) }"></constructor-arg>
	</bean>

	<bean id="entity-inst-attr-ctx"
		class="se.kth.speech.coin.tangrams.analysis.features.weka.EntityInstanceAttributeContext">
		<description>This bean encapsulates the logic and data required for creating and manipulating &quot;weka.core.Instance&quot; instances which represent individual referenceable entities in the game session.</description>
		<constructor-arg ref="entity-inst-feature-extractor" />
		<constructor-arg value="IS_REFERENT" />
	</bean>

	<bean id="entity-extraction-ctx-factory"
		class="se.kth.speech.coin.tangrams.analysis.features.EntityFeatureExtractionContextFactory">
		<constructor-arg>
			<bean class="se.kth.speech.coin.tangrams.analysis.GameContextModelFactory">
				<constructor-arg value="1" />
			</bean>
		</constructor-arg>
	</bean>

</beans>